*.class
*.jar
*.jj
*.json
*.jav
JavaCharStream.java
MiniJavaParser.java
MiniJavaParserConstants.java
MiniJavaParserTokenManager.java
ParseException.java
Token.java
TokenMgrError.java
.DS_Store
Phase2Tester
